:root {
	--color-primary: #6558f5;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-gray: #f8f8f8;
	--color-blue: #0072f5;
	--color-dark: #1e2e33;
	--color-text: #010007;
	--color-body: #faf9f8;
	--gray: #f7f7f7;
	--gray2: #e4e5e7;
	--secondary: #30444e;
}
